DISCORD_TOKEN=your_bot_token
LOOT_CHANNEL_ID=discord_channel_id_dink_posts_loot_to
DEATH_CHANNEL_ID=discord_channel_id_dink_posts_deaths_to
BACKEND_URL=https://farmers-ironmen.up.railway.app
GROUP_NAME=your_group_name
GROUP_TOKEN=your_group_token
