DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_discord_application_id
GUILD_ID=your_discord_server_id
LOOT_CHANNEL_ID=discord_channel_id_dink_posts_loot_to
DEATH_CHANNEL_ID=discord_channel_id_dink_posts_deaths_to
GROUP_STORAGE_CHANNEL_ID=discord_channel_id_dink_posts_group_storage_transactions_to
BACKEND_URL=https://farmers-ironmen.up.railway.app
GROUP_NAME=your_group_name
GROUP_TOKEN=your_group_token
BANK_ALERT_CHANNEL_ID=discord_channel_id_to_post_bank_pings_to
SITE_URL=https://group-ironmen.vercel.app
